---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 style="color: aliceblue;">DidacDV</h1>
		<Header />
	</main>
</Layout>
