---
import LinkedIn from "./icons/LinkedIn.astro"
---
<LinkedIn/>
<p>

    <a href="https://www.linkedin.com/in/d%C3%ADdac-dalmases/"  target="_blank">
        <span>My Linked</span>in
    </a>
</p>


<style>
    p {
        background-color: #0072b1;
        width: max-content;
        transition: transform 0.25s ease;
        height: 20%;
    }

    p:hover {
        transform: scale(1.05);
    }

    p span {
        color: black;
    }

    p a {
        text-decoration: none;
        color: inherit;
    }
</style>