---
interface Props {
    name: string;
    image: string;
    image2: string
    desc: string;
    roundImage2: boolean;
}

const name = Astro.props.name;
const image = Astro.props.image;
const desc = Astro.props.desc;
const image2 = Astro.props.image2;
const roundImage2 = Astro.props.roundImage2
console.log(roundImage2);
---
<div id ="main">
    <div id = "NameAndDesc">
        <h2>{name}</h2>
        <p>{desc}</p>
    </div>
    <div id ="imgs">
        <img src= {image}  height="130px" width="130px">
        <img class ={roundImage2 ? 'rounded' : ''} src= {image2} alt= "2ndimg" height="130px" width="130px">
    </div>
</div>


<style>

    #main {
        justify-content: space-between;
        display: flex;
    }

    h2 {
        margin-bottom: 2px;
    }

    p {
        width: 700px;
        font-size: 17px;
    }

    #main #NameAndDesc {
        display: flex;
        flex-direction: column;
    }

    #main #imgs {
        display: flex;

        gap: 20px;
    }

    .rounded {
        border-radius: 50%;
    }

</style>